.modalCard,
.modalCard.large {
  grid-column: auto / span 6;
  grid-row: auto / span 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background: var(--color-modal-card);
  border-radius: var(--border-radius-md);
}

.modalCard.large {
  grid-row: auto / span 2;
}

.cardHeadings > * + * {
  margin-top: 0.125rem;
}

.cardContent {
  margin-top: 5rem;
}

.cardContent > ul,
.cardContent.large > ul {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.cardContent.large > ul {
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .modalCard {
    grid-column: auto / span 3;
    grid-row: auto / span 1;
    padding: 1.5rem;
  }

  .modalCard.large {
    grid-column: auto / span 3;
    grid-row: auto / span 2;
  }

  .cardContent {
    margin-top: 5rem;
  }
}
