.modalWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;

  background: var(--color-modal-glass);
  backdrop-filter: blur(20px);
  animation: blur 300ms forwards linear;
}

.modalContainer {
  grid-column: 1 / span 12;
  display: flex;
  height: fit-content;
  flex-direction: column;
  background: var(--color-body);
  padding: 1rem;
  padding-top: 1rem;
  gap: 3rem;
  transform: translateY(100vh);
  animation: slide-up 400ms 200ms forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalCloseButton {
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
  background: var(--color-black);
  border-radius: 100%;
  position: sticky;
  top: 0;
  transition: rotate 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.modalCloseButton:hover {
  rotate: 90deg;
}

.modalContent {
  gap: 0.5rem;
}

.modalImage {
  grid-column: auto / span 6;
  grid-row: auto / span 2;
  position: relative;
  aspect-ratio: 1.5/1;
  overflow: hidden;
  background: var(--color-modal-card);
  border-radius: var(--border-radius-md);
}

@keyframes slide-up {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0);
    background: rgba(50, 50, 50, 0);
  }
  100% {
    backdrop-filter: blur(20px);
    background: rgba(50, 50, 50, 0.48);
  }
}

@media screen and (min-width: 728px) {
  .modalWrapper {
    padding-block: 4rem;
  }

  .modalContainer {
    grid-column: 2 / span 10;
    padding: 2rem;
    padding-top: 2rem;
    border-radius: var(--border-radius-lg);
  }
}

@media screen and (min-width: 1024px) {
  .modalWrapper {
    padding-block: 4rem;
  }

  .modalContainer {
    grid-column: 3 / span 8;
    padding: 4rem;
    padding-top: 2rem;
    border-radius: var(--border-radius-lg);
  }
}

@media screen and (min-width: 1540px) {
  .gridItem {
    grid-column: auto / span 3;
  }
}
