.chipGlass,
.chipSolid {
  max-width: fit-content;
  border-radius: var(--border-radius-sm);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00038rem;
}

.chipGlass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1.125rem);
}

.chipSolid {
  background: var(--color-card-bg);
}
